/* Common CSS styles for both pages */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  p {
    margin: 10px;
  }
  
  .main-content {
    flex: 1;
    margin: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  
  /* Styles for films */
  .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-left: 100px;
    border-right: 100px;
  }

  .about_portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 20px;
  }

  

  .button {
    background-color: #e7e7e7; 
    color: black;    
    font-family: Arial, sans-serif;
    top: 20px;
    font-weight: bold;
    border: none;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;

    cursor: pointer;
    position: fixed;
    z-index: 999;
    top: 20px;
    right: 20px;
  }

  
  
  .film {
    cursor: pointer;
    position: relative;
  }

  .film_p {
    position: relative;
    z-index: 3;
  }
  
  .film, img {
    width: 100%;
    height: auto;
    display: block;
    display: block;
    transition: opacity 0.3s ease;
  }

  .film_p, img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
  }

  .film img:hover {
    opacity: .5;
  }
  
  .film-name {
    display: none;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
  }

  .film-name-about {
    display: block;
    position: absolute;
    text-align: center;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;

    color: black;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .film-name-p {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
  }
  

  .film-info {
    position: relative;
  }


  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 20px black;
  }

  .height {
    height: 3vh;
  }

  
  
  .close {
    position: absolute;
    color: white;
    top: -60px;
    right: -60px;
    font-size: 5em;
    cursor: pointer;
  }
  
  .modal-content {
    text-align: center;
  }
 
  
  .arrow-btn {
    position: absolute;
    top: 45%;
    font-size: 90px;
    color: white;
    cursor: pointer;
    z-index: 1;

  }
  
  .prev {
    left: -100px;

  }
  
  .next {
    right: -100px;
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 7em;
    animation: lightning 0.6s ease infinite paused;

  }

  .subtitle {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;

  }


  @keyframes lightning {
    9% {
      opacity: 0;
    }
    4% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
  }

  
  .contact_text {
    display: block;  
   
    font-weight: bold;

    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
  }



  .appearing_text_center {
    text-align: left;
    font-family: Arial, sans-serif;
     margin: 20px;
  }



  .appearing_text {
    display: block;
    color: black;
    min-height: 100%;
    max-width: 700px;
    margin: 30px auto;
    font-size: 1em;
  }

  .appearing_text_t {
    display: block;
    color: black;
    min-height: 100%;
    max-width: 700px;
    margin: 30px auto;
    font-size: 1em;
  }


  .footer {
    font-weight: bold;
    position:fixed;
    background-color: #e1e1e1;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* This will push the footer to the bottom */
  }
  
  .footer a,  p a  {
    text-decoration: none;
    color: black;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

/* Add this to your existing CSS file or style section */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Set the overlay as transparent */
  display: none; /* Initially hidden */
}



 
.film-container {
  max-width: 2200px;
  margin: 0 auto;
}

#myDivL, #myDivR {
    opacity: 1;
    display: none;
}

.nav_buttons {
  width: 60px;
}
  


@media screen and (max-width: 600px) {

  .main-content {
    margin: 7px;
  }

  .about_portfolio {
    max-width: 100%;
    gap: 4px;
 }

 .portfolio {
  max-width: 100%;
  gap:4px;
  grid-template-columns: repeat(2, 1fr);

}

.button {
  width: 20%;
  top: 5px;
  right: 5px;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 5px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.appearing_text {
  font-size: 1em;
}

.contact_text {
  font-size: 1.4em;
  bottom: 20%;
}

.modal {
  padding: 10px;
}



.prev {
  left: 30px;
}

.next {
  right: 30px;
}

.arrow-btn {
  top: 100%;

  font-size: 60px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.close {
  position: absolute;
  color: white;
  top: -100px;
  right: 20px;
  font-size: 5em;
  cursor: pointer;
}

}

@media screen and (min-width: 601px) and (max-width: 1400px) {
  .title {
    font-size: 4.7em;
  }

  .arrow-btn {
    font-size: 60px;
    color: white;
    cursor: pointer;
    z-index: 1;
  
  }

  

  .main-content {
    margin: 20px;
  }

  .portfolio {
    gap: 10px;
  }

  

  .prev {
    left: -60px;
  }
  
  .next {
    right: -60px;
  }
}

@media screen and (min-width: 1400px) {
  .button {
    top: 20px;
    right: 5vw;
    }


    .prev {
      left: -90px;
    }
    
    .next {
      right: -90px;
    }
}

@media screen and (min-width: 2000px) {
  .button {
    top: 20px;
    right: 15vw;
    }
}

